<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.diagnosis.infrastructure.mapper.CategoryTreeMapper">

    <select id="selectClassHierarchy" resultType="org.dromara.diagnosis.infrastructure.model.CategoryHierarchyRow">
        WITH class_rows AS (
            SELECT
                one_class_no AS class_no,
                one_class_name AS class_name,
                '0' AS parent_class_no,
                1 AS class_level
            FROM base_class
            WHERE one_class_no IS NOT NULL AND LTRIM(RTRIM(one_class_no)) &lt;&gt; ''
            UNION ALL
            SELECT
                two_class_no AS class_no,
                two_class_name AS class_name,
                one_class_no AS parent_class_no,
                2 AS class_level
            FROM base_class
            WHERE two_class_no IS NOT NULL AND LTRIM(RTRIM(two_class_no)) &lt;&gt; ''
            UNION ALL
            SELECT
                three_class_no AS class_no,
                three_class_name AS class_name,
                two_class_no AS parent_class_no,
                3 AS class_level
            FROM base_class
            WHERE three_class_no IS NOT NULL AND LTRIM(RTRIM(three_class_no)) &lt;&gt; ''
            UNION ALL
            SELECT
                four_class_no AS class_no,
                four_class_name AS class_name,
                three_class_no AS parent_class_no,
                4 AS class_level
            FROM base_class
            WHERE four_class_no IS NOT NULL AND LTRIM(RTRIM(four_class_no)) &lt;&gt; ''
            UNION ALL
            SELECT
                five_class_no AS class_no,
                five_class_name AS class_name,
                four_class_no AS parent_class_no,
                5 AS class_level
            FROM base_class
            WHERE five_class_no IS NOT NULL AND LTRIM(RTRIM(five_class_no)) &lt;&gt; ''
        )
        SELECT DISTINCT
            class_no AS classNo,
            class_name AS className,
            parent_class_no AS parentClassNo,
            class_level AS classLevel
        FROM class_rows
        WHERE class_no IS NOT NULL AND LTRIM(RTRIM(class_no)) &lt;&gt; ''
        ORDER BY class_level, class_no
    </select>

    <sql id="storeFilterSql">
        <if test="param.storeNo != null and param.storeNo != ''">
            AND d.store_no = #{param.storeNo}
        </if>
        <if test="param.retailTypeId != null and param.retailTypeId != ''">
            AND d.store_format_no = #{param.retailTypeId}
        </if>
        <if test="param.businessCircleId != null and param.businessCircleId != ''">
            AND d.business_circle_no = #{param.businessCircleId}
        </if>
        <if test="param.deptGroupId != null and param.deptGroupId != ''">
            AND d.store_group_no = #{param.deptGroupId}
        </if>
    </sql>

    <select id="selectCategorySkuMetrics" resultType="org.dromara.diagnosis.infrastructure.model.CategorySkuMetricRow">
        SELECT
            s.class_no AS classNo,
            CAST(SUM(COALESCE(TRY_CONVERT(INT, NULLIF(LTRIM(RTRIM(s.class_sku)), '')), 0)) AS INT) AS suggestSaleSku,
            CAST(SUM(COALESCE(TRY_CONVERT(INT, NULLIF(LTRIM(RTRIM(s.sys_suggest_sale_sku)), '')), COALESCE(TRY_CONVERT(INT, NULLIF(LTRIM(RTRIM(s.class_sku)), '')), 0))) AS INT) AS sysSuggestSaleSku,
            MAX(LTRIM(RTRIM(s.class_role))) AS roleNo
        FROM base_class_sku s
        LEFT JOIN base_department d ON d.store_no = s.store_no
        WHERE s.class_no IS NOT NULL AND LTRIM(RTRIM(s.class_no)) &lt;&gt; ''
        <include refid="storeFilterSql"/>
        GROUP BY s.class_no
    </select>

    <select id="selectCategorySaleSku" resultType="org.dromara.diagnosis.infrastructure.model.CategorySaleSkuRow">
        SELECT
            class_no AS classNo,
            CAST(MAX(sale_sku) AS INT) AS saleSku
        FROM category_sale_sku_summary
        WHERE class_no IS NOT NULL AND LTRIM(RTRIM(class_no)) &lt;&gt; ''
          AND store_no =
          <choose>
              <when test="param.storeNo != null and param.storeNo != ''">#{param.storeNo}</when>
              <otherwise>N'__ALL__'</otherwise>
          </choose>
          AND store_format_no =
          <choose>
              <when test="param.retailTypeId != null and param.retailTypeId != ''">#{param.retailTypeId}</when>
              <otherwise>N'__ALL__'</otherwise>
          </choose>
          AND business_circle_no =
          <choose>
              <when test="param.businessCircleId != null and param.businessCircleId != ''">#{param.businessCircleId}</when>
              <otherwise>N'__ALL__'</otherwise>
          </choose>
          AND store_group_no =
          <choose>
              <when test="param.deptGroupId != null and param.deptGroupId != ''">#{param.deptGroupId}</when>
              <otherwise>N'__ALL__'</otherwise>
          </choose>
        GROUP BY class_no
    </select>

    <select id="countClassByClassNo" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM base_class b
        WHERE (
            b.one_class_no = #{classNo}
            OR b.two_class_no = #{classNo}
            OR b.three_class_no = #{classNo}
            OR b.four_class_no = #{classNo}
            OR b.five_class_no = #{classNo}
        )
    </select>

    <select id="countStoreByStoreNo" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM base_department
        WHERE store_no = #{storeNo}
    </select>

    <update id="upsertCategoryNodeConfig">
        IF EXISTS (
            SELECT 1
            FROM base_class_sku
            WHERE store_no = #{storeNo}
              AND class_no = #{classNo}
        )
        BEGIN
            UPDATE base_class_sku
            SET class_role = #{roleNo},
                class_sku = CAST(#{suggestSaleSku} AS NVARCHAR(40)),
                sys_suggest_sale_sku = CAST(#{sysSuggestSaleSku} AS NVARCHAR(40)),
                updatetime = GETDATE()
            WHERE store_no = #{storeNo}
              AND class_no = #{classNo};
        END
        ELSE
        BEGIN
            INSERT INTO base_class_sku (
                store_no, store_name,
                store_org_no, store_org_name,
                store_format_no, store_format_name,
                business_circle_no, business_circle_name,
                store_group_no, store_group_name,
                class_no, class_name, class_sku, sys_suggest_sale_sku, class_role, updatetime
            )
            SELECT
                d.store_no,
                ISNULL(d.store_name, ''),
                d.preorgcode,
                d.preorgname,
                d.store_format_no,
                d.store_format_name,
                d.business_circle_no,
                d.business_circle_name,
                d.store_group_no,
                d.store_group_name,
                #{classNo},
                cls.class_name,
                CAST(#{suggestSaleSku} AS NVARCHAR(40)),
                CAST(#{sysSuggestSaleSku} AS NVARCHAR(40)),
                #{roleNo},
                GETDATE()
            FROM base_department d
            CROSS APPLY (
                SELECT TOP 1 class_name
                FROM (
                    SELECT one_class_name AS class_name FROM base_class WHERE one_class_no = #{classNo}
                    UNION ALL
                    SELECT two_class_name AS class_name FROM base_class WHERE two_class_no = #{classNo}
                    UNION ALL
                    SELECT three_class_name AS class_name FROM base_class WHERE three_class_no = #{classNo}
                    UNION ALL
                    SELECT four_class_name AS class_name FROM base_class WHERE four_class_no = #{classNo}
                    UNION ALL
                    SELECT five_class_name AS class_name FROM base_class WHERE five_class_no = #{classNo}
                ) t
                WHERE class_name IS NOT NULL AND LTRIM(RTRIM(class_name)) &lt;&gt; ''
            ) cls
            WHERE d.store_no = #{storeNo};
        END
    </update>

    <select id="selectCategoryNodeConfig" resultType="org.dromara.diagnosis.infrastructure.model.CategorySkuMetricRow">
        SELECT
            class_no AS classNo,
            CAST(SUM(COALESCE(TRY_CONVERT(INT, NULLIF(LTRIM(RTRIM(class_sku)), '')), 0)) AS INT) AS suggestSaleSku,
            CAST(SUM(COALESCE(TRY_CONVERT(INT, NULLIF(LTRIM(RTRIM(sys_suggest_sale_sku)), '')), COALESCE(TRY_CONVERT(INT, NULLIF(LTRIM(RTRIM(class_sku)), '')), 0))) AS INT) AS sysSuggestSaleSku,
            MAX(LTRIM(RTRIM(class_role))) AS roleNo
        FROM base_class_sku
        WHERE store_no = #{storeNo}
          AND class_no = #{classNo}
        GROUP BY class_no
    </select>

    <select id="selectDictRowsByType" resultType="org.dromara.diagnosis.infrastructure.model.DiagnosisDictRow">
        SELECT
            d.dict_code AS dictCode,
            t.dict_id AS dictId,
            d.dict_sort AS dictSort,
            d.dict_label AS dictLabel,
            d.dict_value AS dictValue,
            CONVERT(VARCHAR(19), d.create_time, 120) AS createTime
        FROM sys_dict_data d
                 LEFT JOIN sys_dict_type t
                           ON t.dict_type = d.dict_type
                               AND t.tenant_id = d.tenant_id
        WHERE d.tenant_id = N'000000'
          AND d.dict_type = #{dictType}
        ORDER BY d.dict_sort ASC, d.dict_code ASC
    </select>

    <select id="selectStores" resultType="org.dromara.diagnosis.infrastructure.model.StoreBaseRow">
        SELECT TOP (#{param.limit})
            store_no AS storeNo,
            MAX(store_name) AS storeName
        FROM base_department
        WHERE store_no IS NOT NULL
          AND LTRIM(RTRIM(store_no)) &lt;&gt; ''
          <if test="param.retailTypeId != null and param.retailTypeId != ''">
              AND store_format_no = #{param.retailTypeId}
          </if>
          <if test="param.businessCircleId != null and param.businessCircleId != ''">
              AND business_circle_no = #{param.businessCircleId}
          </if>
          <if test="param.deptGroupId != null and param.deptGroupId != ''">
              AND store_group_no = #{param.deptGroupId}
          </if>
          <if test="param.keyword != null and param.keyword != ''">
              AND (
                  store_no LIKE CONCAT('%', #{param.keyword}, '%')
                  OR store_name LIKE CONCAT('%', #{param.keyword}, '%')
              )
          </if>
        GROUP BY store_no
        ORDER BY store_no ASC
    </select>

</mapper>
